.content {
    text-align: center;
    min-height: 100vh;
    height: auto;
    width: 100%;
    background-color: #0f468e;
    margin-top: 0;
    margin-bottom: 0;
    padding:0;
}

.content .page-parent {
    width: 90vw;
    height: 100%;
    min-height: 100vh;
    display: inline-block;
    background-color: white;
    margin-top: 5vh;
    padding-bottom: 0;
}